* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --button-color: #011943;
    --button-text-color: #ffffff;
    --border-color: #e0dccb;
    --time-edit-color: #626262;
    --error-color: #b30000;
    --current-menu-button-color: #264780;
}

h1, h2. h3. h4. h5. h6 {
    font-family: Tinos, sans-serif;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.15rem;
}

body {
    line-height: 1.5;
    font-size: 1.2rem;
    font-family: "Open Sans", serif;
}

.header-wrapper {
    padding: 15px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 10px;
}

.section-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.section-menu .button {
    padding: 5px 15px;
}

.clucks-and-cluckers {
    display: flex;
}

.clucks-and-cluckers > * {
    margin-left: 15px;
}

.clucks-and-cluckers > *:first-child {
    margin-left: 0;
}

.clucks-and-cluckers > * {
    width: 100%;
}

.main-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-navigation > * {
    margin-left: 15px;
    margin-bottom: 15px;
}

.main-navigation > *:first-child {
    margin-left: 0;
}


.account-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.account-navigation > * {
    margin-left: 15px;
}

.account-navigation > *:first-child {
    margin-left: 0;
}


.button {
    display: flex;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
}

.button:hover {
    cursor: pointer;
}

.current-navigation-button {
    background-color: var(--current-menu-button-color);
}

/* inside main */

.main-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.main-content {
    width: 100%;
    max-width: 960px;
    padding: 0 15px;
}

.cluck-section h1 {
    text-align: center;
}

.clucks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clucks > * {
    margin-top: 15px;
}

.clucks *:first-child {
    margin-top: 0;
}



/* clucks (main) */
.cluck {
    display: grid;
    grid-template-columns: 64px 1fr;
    /*gap: 15px;*/
    column-gap: 15px;
    row-gap: 15px;
    grid-gap: 15px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    width: 100%;
    padding: 15px;
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.cluck:hover {
    box-shadow: 0 0 0 3px var(--button-color);
    transition: 0.5s;
}

.this-cluck {
    border-left: 5px solid var(--button-color);
}

.cluck-heading-link {
    text-decoration: none;
    color: inherit;
}

.cluck-heading-link:hover {
    text-decoration: underline;
}

.cluck h2 {
    margin: 0;
}

.cluck-heading-wrapper {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
}

.cluck-and-reply {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cluck-and-reply > * {
    margin-right: 1ch;
}

.cluck-and-reply > *:last-child {
    margin-left: 0;
}


.cluck-content {
    max-width: 65ch;
    overflow-wrap: break-word;
    grid-column: 2;
    word-break: break-word;
}

.cluck-publish-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.cluck-publish-details > * {
    margin-right: 1ch;
}
.cluck-publish-details > *:last-child {
    margin-right: 0;
}

.cluck-metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.cluck-metadata > * {
    margin-left: 1ch;
}
.cluck-metadata > *:first-child {
    margin-left: 0;
}
.cluck-avatar-wrapper {
    display: flex;
    flex-direction: column;
    grid-row: 1 / 3;
    height: fit-content;
}

.clucker-avatar-wrapper {
    display: flex;
    flex-direction: column;
}

.cluck-avatar {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cluck-page-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cluck-page-content-wrapper > * {
    margin-top: 30px;
}
.cluck-page-content-wrapper > *:first-child {
    margin-top: 0;
}

.cluck-replies {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}
.cluck-replies > * {
    margin-top: 15px;
}
.cluck-replies > *:first-child {
    margin-top: 0;
}


.cluck-reply-section {
    width: 80%;
}

.replies-heading {
    margin-left: 15px;
}

.replied {
    width: 80%;
}

.removed-post {
    cursor: inherit;
}

.cluck-buttons {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
}
.cluck-buttons > * {
    margin-left: 15px;
}
.cluck-buttons > *:first-child {
    margin-left: 0;
}

.cluck-edit-timestamp, .cluck-post-timestamp, .cluck-reply-count {
    white-space: nowrap;
}

.cluck-reply-count-wrapper {
    display: flex;
}

/* profile (main) */
.profile {
    display: grid;
    grid-template-columns: 64px 1fr;
    /*gap: 15px;*/
    column-gap: 15px;
    row-gap: 15px;
    grid-gap: 15px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-bottom: 50px;
}

.profile h1 {
    margin: 0;
}


.profile-avatar {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile-description {
    grid-column: 2;
}

/* form shit down here */


.cluck-link {
    display: flex;
    text-decoration: none;
    color: inherit;
    width: fit-content;
}

.general-form-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.general-user-error {
    font-weight: bold;
    color: var(--error-color);
}

.general-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 500px;
    width: 100%;
    padding: 15px;
}
.general-form > * {
    margin-top: 15px;
}
.general-form > *:first-child {
    margin-top: 0;
}

.general-form label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.general-label-text {
    margin-left: 15px;
}

.general-form input {
    border: 1px solid var(--border-color);
    outline: none;
    padding: 0.25em;
}

.general-form input[type=submit] {
    width: fit-content;
    display: flex;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    outline: none;
    margin-right: 15px;
}

.general-form textarea {
    resize: none;
    padding: 10px;
    min-height: calc(4em * 1.5);
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.cluckers {
    display: flex;
    flex-direction: column;
}
.cluckers > * {
    margin-top: 15px;
}
.cluckers > *:first-child {
    margin-top: 0;
}

.clucker {
    border: 1px solid var(--border-color);
    padding: 15px;
    display: grid;
    grid-template-columns: 64px 1fr;
    /*gap: 15px;*/
    column-gap: 15px;
    row-gap: 15px;
    grid-gap: 15px;
    grid-row-gap: 15px;
    grid-column-gap: 15px;

}

.clucker:hover {
    box-shadow: 0 0 0 3px var(--button-color);
    transition: 0.5s;
    cursor: pointer;
}

.clucker-metadata {
    display: flex;
    flex-direction: column;
}

.cluckers-description-wrapper {
    grid-column: 1 / 3;
}

footer {
    margin-top: 50px;
    padding: 30px 5px;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .home .cluckers-section {
        margin-left: 0;
    }
    .cluck-section {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    footer {
        flex-direction: column;

    }
    footer > * {
        margin-bottom: 20px;
    }

    footer > *:last-child {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 500px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.15rem;
        font-weight: bolder;
    }
    h2 {
        font-size: 1.1rem;
    }
    h3 {
        font-size: 1rem;
    }

    .cluck-content {
        grid-column: 1 / 3;
    }

    .cluck h1 {
        margin: 0;
    }

    .replied {
        width: 90%;
    }

    .cluck-reply-section {
        width: 90%;
    }

    .cluck-heading-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .cluck-avatar-wrapper {
        grid-row: 1;
    }
}

@media screen and (max-width: 400px) {
    .cluck {
        grid-template-columns: 1fr 4fr;
    }

    .header-wrapper {
        padding: 15px 5px;
    }

    .main-navigation > * {
        margin-left: 7px;
        margin-bottom: 7px;
    }

    .account-navigation > * {
        margin-left: 7px;
    }
}

.show {
    display: flex;
}

.hide {
    display: none;
}