{% extends "templates/base.njk" %}

{% block head %}
<link href="{{ rootURL }}/static/css/main.css" rel="stylesheet" type="text/css">
<script src="{{ rootURL }}/static/js/courses.js" type="module"></script>
{% endblock %}

{% block content %}
<main>HELLO WORLD groot is {{ rootURL }}</main>
{% endblock %}