* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 150px;
    height: 150px;
}

.over {
    z-index: 1;
    background: hsla(100, 80%, 80%, 0.7);
    position: fixed;
    left: 170px;
    /*top: 150px;*/

}

.under {
    z-index: 2;
    background: hsla(240, 80%, 80%, 0.7);
    position: relative;
    /*top: 150px;*/
    /*right: -75px;*/
}

p {
    font-size: 12pt;
    width: 100px;
}
