@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --shade1: #000;
    --shade2: #c6c6c6;
    --shade3: #e3e3e3;
    --shade4: #fff;

    --green: #65bf30;
    --blue: #40b7e7;
    --red: #cc1f1f;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Tinos", serif;
}

h1 {
    font-size: 2rem
}

h2 {
    font-size: 1.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

main h1 {
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.spacer {
    height: 0.75em;
}

.page {
    min-height: 100vh;
}

.block-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text {
    font-weight: 800;
}

.logo-letter {
    color: var(--blue);
}

.logo-picture {
    height: 100%;
    width: 100%;
}

.logo {
    padding: 2px 2px;
}

.grouped-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-button {
    height: 100%;
}

.cart-button {
    padding: 0 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cart {
    display: flex;
    align-items: center;
    color: #000;
    background-color: var(--blue);
}

.cart-content {
    position: absolute;
    display: none;
    top: 32px;
    right: 0;
    background-color: var(--shade4);
    border-left: 1px solid var(--shade3);
    border-right: 1px solid var(--shade3);
    border-bottom: 1px solid var(--shade3);
}

.basket {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}

.basket > li {
    border-bottom: 1px solid var(--shade3);
}

.internal-cart-buttons {
    display: grid;
    grid-template-columns: 1fr auto;
    white-space: nowrap;
}

.internal-cart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}

.to-checkout-button {
    background-color: var(--green);
}

.empty-basket-button {
    background-color: var(--red);
}

#basket {
    list-style-type: none;
}

header {
    display: grid;
}

body {
    font-size: 1.25rem;
    background-color: var(--shade3);
}

.header-wrapper > * {
    max-width: 960px;
    margin: auto;
}

.top-header-color {
    background-color: var(--shade1);
}

.bottom-header-color {
    background-color: var(--shade2);
}

.top-header {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 32px;
    color: #fff;
    /*background-color: var(--shade1);*/
}

.bottom-header {
    display: flex;
    gap: 30px;
    height: 50px;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-between;
    /*background-color: var(--shade2);*/
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 32px;
    height: 32px;
}

.menu-icon > * {
    background-color: #000;
    border-radius: 4px;
    height: 4px;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 1.5em;
}

.search-field {
    width: 100%;
    outline: none;
    height: 100%;
    padding: 3px;
}

.search-button {
    height: 100%;
    width: 15%;
    padding: 3px 5px;
    min-width: fit-content;
    background-color: var(--green);
    border: none;
}


.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

.product-wrapper {
    background-color: #fff;
}

.product {
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /*padding-bottom: 20px;*/
    border: 1px solid var(--shade3);
    height: 100%;
}

.card-product-info, .card-product-price {
    text-align: center;
}

.product p {
    padding: 5px 20px;
}

#main-menu-button {
    display: none;
}

#main-navigation {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 1px;
    background-color: var(--shade3);
    height: fit-content;
    border: 1px solid var(--shade3);
    border-top: none;
}

#main-navigation > a {
    padding: 5px 20px;
    background-color: var(--shade4);
    text-decoration: none;
}

#main {
    display: flex;
    max-width: 960px;
    margin: auto;

}

main {
    width: 100%;
    background-color: var(--shade4);
    margin: 10px;
}

.product-page {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr auto;
    background-color: var(--shade3);
}

.product-page > * > * {
    background-color: var(--shade4);
}

.full-product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.full-product-preview {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.full-product-info {
    padding: 20px;
}

.purchase-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.storage-status-card {
    padding: 20px;
}

.storage-status-card > h2 {
    margin-bottom: 10px;
}

.purchase-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.storage-status {
    display: flex;
    justify-content: space-between;
}

.storage-amount {
    margin-left: 2ch;
    white-space: nowrap;
}

.add-to-cart-button {
    padding: 5px;
    min-width: fit-content;
    width: 80%;
    background-color: var(--green);
    border: none;
}

.checkout {
    padding: 10px;
    width: 100%;
}

.checkout th {
    text-align: left;
}

.checkout tr {
}

#checkout {
    font-size: 1rem;
}

.checkout th {
    padding-bottom: 20px;
}

.checkout tr td:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-right: 10px;
}

.checkout tr:last-child td {
    display: table-cell;
}

.checkout-sum {
    text-align: right;
    font-size: 1.2rem;
}

.checkout-product-heading {
    text-align: left;
}

.user-credentials, .user-living-credentials, .user-payment-credentials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-by-side {
    display: flex;
    gap: 10px;
}

.side-by-side label {
    width: 100%;
}

.user-credentials {
    padding: 10px;
    gap: 20px;
}

.user-credentials input {
    display: block;
    width: 100%;
    padding: 3px;
    outline: none;
}

.cancel-purchase-button {
    width: 100%;
    background-color: var(--red);
    border: none;
}

.about {
    padding: 20px;
}

.buy-button {
    background-color: var(--green);
    border: none;
}

footer {
    background-color: var(--shade2);
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px 30px 20px;
}

footer ul {
    list-style-type: none;
    padding: 5px 0;
}

footer li {
    padding: 5px;
}

.video-padding {
    grid-column: 1 / 3;
    padding: 20px;
    width: 100%;
    background-color: var(--shade4);
}

.video-wrapper {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

@media screen and (max-width: 960px) {
    .products {
        grid-template-columns: 1fr 1fr;
    }

    .product-page {
        grid-template-columns: 1fr;
    }

    .full-product {
        grid-row: 1;
    }
    .video-padding {
        grid-column: 1;
        grid-row: 3;
    }
}

@media screen and (max-width: 600px){
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-wrapper {
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 770px) {
    #main-menu-button {
        display: flex;
    }
    #main-navigation {
        display: none;
        position: absolute;
        left: 0;
    }
}


@media screen and (max-width: 500px){
    footer {
        flex-direction: column;
        align-items: center;
    }
}

#popular-glasses-slideshow {
    height: 420px;
}

.slideshow {
    position: relative;
}

.slideshow > a {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}
