[Unit]
Description=jsweb moment 3
After=multi-user.target
StartLimitIntervalSec=60

[Service]
Restart=on-failure
WorkingDirectory=/var/www/miun-jsweb3/
ExecStart=/var/www/miun-jsweb3/node_modules/.bin/nodemon -e js,njk /var/www/miun-jsweb3/index.js

[Install]
WantedBy=multi-user.target
