:root {
    --button-color: #2E4052;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Tinos, serif;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
}

header {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
}

.login-menu-container {
    display: flex;
    flex-flow: column-reverse;
    padding: 15px;
}

.login-menu {
    display: flex;
    gap: 15px;
}

main {
    margin-top: 15px;
}

.site-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    display: flex;
    background-color: var(--button-color);
    color: white;
    padding: 15px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
}

.error-message {
    color: darkred;
}

.form {
    background-color: var(--button-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    gap: 15px;
    padding: 15px;
}

.form label {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
}

.label-text {
    display: flex;
    color: white;
}

.form input[type=submit] {
    width: 50%;
}

.form input {
    outline: none;
    padding: 5px;
    border: none;
}

.news-articles {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.news-article {
    display: flex;
    flex-direction: column;
}

.page-navigation {
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.edit-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;

}

.new-article {
    background-color: var(--button-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.new-article > label {
    padding: 15px;
    /*gap: 15px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.new-article .label-text {
    padding-bottom: 10px;
}

.new-article .input {
    outline: none;
    border: none;
    width: 90%;
    padding: 5px;
}

.textarea {
    resize: none;
    width: 90%;
    height: 100vh;
    /*min-height: 20vh;*/
    max-height: 50vh;
    overflow-y: scroll;
}

.submit-wrapper {
    width: 90%;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
}

.submit-wrapper .button {
    background-color: white;
    color: black;
}

