.content {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

table {
    width: 100%;
    margin-top: 2em;
    padding: 2em;
    background-color: #2b2d33;
    border-radius: 1em;
}

tbody > tr:nth-child(odd) {
    background-color: #666;
}

tbody > tr:nth-child(even) {
    background-color: #444;
}

thead > tr {
    background-color: #aa7347;
}

tfoot > tr {
    background-color: #aa7347;
}

table td {
    padding: 0.5em;
    border-color: deeppink;
}

.plan {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
    margin: 2em;
    background-color: #2b2d33;
    border-radius: 1em;
}

