section.news {
    background: #1a1c20;
    padding: 1em;
}

section.news > * {
    margin: 0 auto;
    max-width: 700px;
}

article {
    border-radius: 1em;
    background-color: #2b2d33;
    box-shadow: 0.25em 0.25em #444;

}

article > * {
    padding: 0.5em;
}

section.news > div {
    margin-bottom: 2em;
}

.thumbnail {
    width: 200px;
    height: 120px;
}