/* main css som är gemensamt för alla sidor på webbplatsen */

/* tar bort all styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1.5em;
}

/* variabler som används på stor del av webbsidan */
/* för bland annat färg och höjden på header / footer */

/* text styling */
p, label, legend, form, td {
    color: #ececec;
    font-family: "serif";
}

/* heading stylingen */
h1, h2, h3, h4, h5, h6 {
    color: #bbbcc0;
    padding: 0.5em;
    text-align: center;
}

/* grund style för body */
body {
    background-color: #1a1c20;
}

/* länk styling */
a {
    color: #f2a365;
}

a:visited {
    color: #947b00;
}

a:hover {
    color: #f2c098;
}

a:active {
    color: #aa7347;
}

/* styling för huvudnavigering */
header {
    position: fixed;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background: #2b2d33;
    top: 0;
    width: 100%;
    height: 122px;
    border-bottom: 2px solid #444;
    z-index: 100;
}

nav.main {
    float: right;
    justify-content: space-between;
    align-items: baseline;
}

nav > ul {
    list-style-type: none;
}

nav.main > ul > li {
    float: left;
    bottom: 0;
    margin-right: 2em;
    font-size: 1.2em;
}

/* ser till att all huvud content blir placerad mellan header och footer*/
.content {
    margin-top: 122px;
    margin-bottom: 100px;
}

/* stylingen för alla footers*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #1a1c20;
    padding: 1em;
    border-top: 2px solid #444;
}

/* storlek för logga */
.logo {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
}


