/* main css som är gemensamt för alla sidor på webbplatsen */

/* tar bort all styling*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 1.5em;
}

/* variabler som används på stor del av webbsidan */
/* för bland annat färg och höjden på header / footer */
:root {
    --background-color: #1a1c20;
    --foreground-color: #2b2d33;
    --link-color: #f2a365;
    --link-color-hover: #f2c098;
    --link-color-visited: #947b00;
    --link-color-active: #aa7347;
    --text-color: #ececec;
    --heading-color: #bbbcc0;
    --shadow: #444;
    --logo-size: 100px;
    --logo-margin: 10px;
    --header-border-size: 2px;
    --table-meta-color: #aa7347;
    --table-odd-color: #666;
    --table-even-color: #444;

    --header-heigth: calc(var(--logo-size) + var(--logo-margin) * 2 + var(--header-border-size));
}

/* text styling */
p, label, legend, form, td {
    color: var(--text-color);
    font-family: "serif";
}

/* heading stylingen */
h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    padding: 0.5em;
    text-align: center;
}

/* grund style för body */
body {
    background-color: var(--background-color);
}

/* länk styling */
a {
    color: var(--link-color)
}

a:visited {
    color: var(--link-color-visited);
}

a:hover {
    color: var(--link-color-hover);
}

a:active {
    color: var(--link-color-active);
}

/* styling för huvudnavigering */
header {
    position: fixed;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background: var(--foreground-color);
    top: 0;
    width: 100%;
    height: var(--header-heigth);
    border-bottom: 2px solid var(--shadow);
    z-index: 100;
}

nav.main {
    float: right;
    justify-content: space-between;
    align-items: baseline;
}

nav > ul {
    list-style-type: none;
}

nav.main > ul > li {
    float: left;
    bottom: 0;
    margin-right: 2em;
    font-size: 1.2em;
}

/* ser till att all huvud content blir placerad mellan header och footer*/
.content {
    margin-top: calc(var(--header-heigth));
    margin-bottom: 100px;
}

/* stylingen för alla footers*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--background-color);
    padding: 1em;
    border-top: 2px solid var(--shadow);
}

/* storlek för logga */
.logo {
    width: var(--logo-size);
    height: var(--logo-size);
    margin: var(--logo-margin);
    display: flex;
}


