/* style för menyn mellan bildsidorna */
nav.sub {
    position: fixed;
    border-right: 2px solid #2b2d33;
    height: 100%;
    z-index: 100;
    background-color: #1a1c20;
}

/* style för meny länkarna */
nav.sub > ul > li {
    padding: 2em;
    width: 120px;
}

/* centrerar bilderna */
section.images > div > img {
    display: block;
    margin: 1em auto;
}

section.images {
    flex-grow: 1;
    margin-left: 122px;
}

.columns {
    display: flex;
}
