nav.sub {
    position: fixed;
    border-right: 2px solid var(--foreground-color);
    height: 100%;
    z-index: 100;
    background-color: var(--background-color);
}

nav.sub > ul > li {
    padding: 2em;
    width: calc(var(--header-heigth) - 2px);
}

section.images > div > img {
    display: block;
    margin: 1em auto;
}

section.images {
    flex-grow: 1;
    margin-left: calc(var(--header-heigth));
}

.columns {
    display: flex;
}